<% @messages.each do |message| %>
  <div class="panel">
    <%= link_to get_username(message), portal_path(message.user.id) %>
    <%= time_ago_message(message.created_at) %>
    <div class="panel">
      <%= link_to message.content, message %>
    </div>
    <% if is_owner? message %>
      <div>
        <ul class="button-group">
          <li><%= link_to '编辑', edit_message_path(message), :class=>"small button" %>
          <li><%= link_to '删除', message, method: :delete, data: { confirm: '确定删除这条内容？' }, :class=>"small button" %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
