<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= link_to get_username(message), portal_path(message.user.id) %></td>
    <td><%= link_to message.content, message %></td>
    <td><%= time_ago_message(message.created_at) %></td>
    <% if is_owner? message %>
    <td><%= link_to '编辑', edit_message_path(message) %></td>
    <td><%= link_to '删除', message, method: :delete, data: { confirm: '确定删除这条内容？' } %></td>
    <% end %>
  </tr>
<% end %>
</table>