<h1>微时代，快来分享新鲜事</h1>
<% if user_signed_in? %>
  <div><%="#{@user.name}"%></div>
  <div>
      <%= "注册于#{@user.created_at.year}年#{@user.created_at.month}月#{@user.created_at.day}日，
      登录#{@user.sign_in_count}次，
      上次登录IP是#{@user.last_sign_in_ip}" %>
  </div>
  <%= render 'form' %>
  <dl class="my-sub-nav">
    <dt>显示内容:</dt>
    <dd class="active"><%= link_to '全部', root_path %></dd>
    <dd><%= link_to '我的微博', portal_path(current_user) %></dd>
  </dl>
<% end %>

<%= render 'index'%>

<br />
