<h1><%="#{@user.name}"%>的主页</h1>
<% if user_signed_in? && current_user.id == @user.id%>
  <div>
      <%= "注册于#{@user.created_at.year}年#{@user.created_at.month}月#{@user.created_at.day}日，
      登录#{@user.sign_in_count}次，
      上次登录IP是#{@user.last_sign_in_ip}" %>
  </div>
<% end %>
  <dl class="my-sub-nav">
    <dt>显示内容:</dt>
    <dd><%= link_to '全部', root_path %></dd>
    <dd class="active"><%= link_to "#{@user.name}的微博", portal_path(@user) %></dd>
  </dl>

<%= render 'index'%>

<p />
<%= link_to '返回', root_path %>
<br />
