<h2>修改档案 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>用户名<br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div>邮箱<br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>等待确认: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>请输入新密码 <i>(如果不想修改密码，请留空)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div>请再次输入密码<br />
  <%= f.password_field :password_confirmation %></div>

  <div>当前密码 <i>(为了您的帐户安全，请输入当前密码确认您的身份)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "保存", :class=>"small button" %></div>
<% end %>

<h3>删除帐户</h3>

<p>不需要这个服务了? <%= button_to "删除帐户", registration_path(resource_name), :data => { :confirm => "确认将帐户删除?" }, :method => :delete, :class=>"small button" %></p>

<%= link_to "返回", :back %>
